<!--app component view-->

<header>

    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">angular 2 maps</a>
            </div>

        </div>
    </nav>

</header>

<!--main-->
<main>

    <div class="row">

        <div class="col-sm-6">

            <!--these properties are required: center, zoom-->
            <google-map [center]="center" 
                        [zoom]="zoom" 
                        [disableDefaultUI]="disableDefaultUI" 
                        [disableDoubleClickZoom]="disableDoubleClickZoom"
                        [mapTypeId]="mapTypeId" 
                        [maxZoom]="maxZoom" 
                        [minZoom]="minZoom" 
                        [styles]="styles">
                <!--this property is required: position-->
                <google-map-marker [position]="position" 
                                   [title]="title" 
                                   [content]="content">
                </google-map-marker>
            </google-map>

            <br>

            <!--get current position-->
            <input class="btn btn-default btn-block" type="button" value="Get current position" (click)="getCurrentPosition()">

            <br>

            <!--search-->
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="input-search" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-search" [(ngModel)]="address" (keyup.enter)="search(address)" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-default" type="button" value="Search" (click)="search(address)">
                    </div>
                </div>
            </form>

        </div>

    </div>

</main>